<!DOCTYPE html>
<html>
<head>
    <title>Registrarse</title>
</head>
<body>
    <h1>Registrarse</h1>
    <form method="post" action="{{ url_for('registro') }}">
        <label for="nombre_completo">Nombre Completo:</label>
        <input type="text" name="nombre_completo" required><br>

        <label for="cedula">Cédula:</label>
        <input type="text" name="cedula" required><br>

        <label for="correo">Correo Electrónico:</label>
        <input type="email" name="correo" required><br>

        <label for="password">Contraseña:</label>
        <input type="password" name="password" required><br>

        <input type="submit" value="Registrarse">
    </form>
    <p>¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Iniciar Sesión</a></p>
</body>
</html>